*{
    font-family: -apple-system, BlinkMacSystemFont, “Roboto”, “Droid Sans”, “Helvetica Neue”, Helvetica, Arial, sans-serif;
    margin: 0;
    padding: 0;
    color: black;
}

body 
{
    background: #eaeaea;
    
    
}

#background-div{
    position: relative;
    /*height: auto;*/
    background: #fff;
    padding: 10px;
    width: 866px;
    margin: 0 auto;
    min-height: 100vh;
}
#title-div{
    position: relative;
    box-sizing: border-box; 
    padding: 0px 10px;
    height: auto;
    font-size: 40px;
    color: #E41318;
    font-weight: 900; 
    text-align: center;
    background: rgb(114, 34, 218);
}
#display-info-div{
    display: none; 
    position: absolute;
    font-weight: 10; 
    padding: 30px 30px;
    z-index: 2;
    border: 3px solid rgb(228, 19, 22);
    border-radius: 8px;
    background-color: white ;
    width: 570px;
    left: 105px; 
    top: 30px; 
    text-align: center; 

}

#display-info-div h3 {
    line-height: 48px;
    margin: 43px 20px 5px 20px;    
}

#display-info-div h4{
    margin: 100px 10px;
} 

#put-data-div{
    display: none; 
    position: absolute;
    height: auto;
    font-weight: 10; 
    padding: 30px 30px;
    z-index: 3;
    border: 3px solid rgb(228, 19, 22);
    border-radius: 8px;
    background-color: white ;
    width: 570px;
    left: 130px; 
    top: 160px; 
}

#put-data-div h3 {
    line-height: 15px;
    margin: 20px 20px 15px 0px;
    font-weight: 300;
    font-size: 30px;
    text-align: center;
}

#add-button-div{
    position: relative;
    box-sizing: border-box; 
    padding: 10px;
    height: auto;
    font-size: 30px;
    font-weight: 10; 
    text-align: center;
    height: 64px
}

input[name="btnAddSubjImp"] {
    font-size: 14px;
    line-height: 24px;
    padding: 4px 12px;
    transition-duration: 0.2s ease-in-out;
    background-color: rgb(192, 192, 192); 
    
    font-weight: 300;
    border: none;
  }
  
input[name="btnAddSubjImp"]:hover {
    color: white;
    border: 2px solid black;
    background-color: rgb(77, 76, 76); 
    box-shadow: -4px 8px 16px -8px rgba(0,0,0,0.15);
    
}

input[name="addSImp"]{
    position: relative;

    margin: 0px 8px;
    font-size: 14px;
    line-height: 24px;
    padding: 4px 12px;
    transition-duration: 0.2s ease-in-out;
    background-color: rgb(218, 218, 218); 
    
    font-weight: 300;
    border: none;
}

input[name="addSImp"]:hover{
    color: white;
    border: 2px solid black;
    background-color: rgb(77, 76, 76); 
    box-shadow: -4px 8px 16px -8px rgba(0,0,0,0.15);
    
}



#display-block-div{
    margin: 40px 0px;
    position: relative;
    box-sizing: border-box; 
    height: auto;
    background: #F0F0F0;
    border: 1px solid rgb(0, 0, 0);
    border-radius: 12px;
    padding: 0px 16px;
    min-height: 80vh;
    
}

#display-block-div h2{
    font-size: 20px;
    line-height: 40px;
    margin: 10px ;
    font-weight: 500;
    text-align: center;
}

#display-info-div h2{
    font-size: 40px;
} 



.blk-class{
    position: relative;
    box-sizing: border-box; 
    padding: 10px;
    width: 181px;
    height: auto;
    background: #fff;
    text-align: center;
    display: inline-block;
    vertical-align:top;
    margin: 12px;
    box-shadow: -4px 8px 16px -8px rgba(0,0,0,0.15);

}



.exm-class{
    position: relative;
    box-sizing: border-box; 
    padding: 10px;
    height: auto;
    font-weight: 400; 
    background: rgb(218, 218, 218);
    border-radius: 5px;
    margin-bottom: 16px;
}

h1[name= "noteEx"]{
    border: 2px solid rgb(77, 76, 76); 
}
h1[name=noteWithOutmean]{
    position: absolute;
    border: 0.5px solid rgb(97, 96, 96);
    left: 19px;
    top: 96px;
    font-size: 5px;
    padding: 4px;
    margin: 0px;
}

h1[name= "coefEx"]{
    position: absolute;
    left: 95px;
    top: 10px;
    font-weight: 400;
    border: none;
    font-size: 12px;
    padding: 0px;
    margin: 0px;

}



input[name="btnNote"] {
    position: relative;
    padding: 0px;
    border-radius: 50%;
    font-size: 12px;
    line-height: 24px;
    text-align: center;
    width: 24px;
    text-align: center;
    transition-duration: 0.2s;
    background-color: white; 
    margin: 0px 8px;
  }
  
input[name="btnNote"]:hover {
    background-color: #5E7C88;
}

input[name="btnCloseBlkImp"] {
    position: absolute;
    left: 0px;
    top: 0px;
    font-size: 15px;
    font-weight: bold;
    background-color: rgba(255, 255, 255, 0);
    border: none;
    
}

input[name="btnCloseInfo"] {
    position: absolute;
    left: 0px;
    top: 0px;
    font-size: 18px;
    font-weight: bold;
    background-color: rgba(255, 255, 255, 0);
    border: none;
       
    
}

input[name="btnInfoBlkImp"]{
    position: absolute;
    left: 3px;
    top: 3px;
    font-size: 18px;
    font-weight: bold;
    background-color: #F0F0F0;
    border: none;
    border-radius: 50%;

}


input[name="btnInfoImp"]{
    position: absolute;
    left: 148px;
    top: 73px;
    font-size: 8px;
    font-weight: bold;
    border: black;
    background-color: rgba(255, 255, 255);
    border-radius: 40%;
    padding: 2px;
    color: black;
    line-height: normal;
    display: none;
    

}


input[name="btnCloseExm"] {
    position: absolute;
    left: 0px;
    top: 0px;
    font-size: 10px;
    font-weight: bold;
    background-color: rgba(255, 255, 255, 0);
    border: none;

}

input[name="btnCloseBlkImp"]:hover {
    color: rgb(255, 0, 0);
}


input[name="btnCloseExm"]:hover {
    color: rgb(255, 0, 0);
}

input[name="btnClose"]{
    position: absolute;
    left: 0px;
    top: 0px;
    font-size: 18px;
    font-weight: bold;
    background-color: rgba(255, 255, 255, 0);
    border: none;
}

input[name="btnClose"]:hover {
    color: rgb(255, 0, 0);
}



#add-file-and-user-div{
    position: fixed;
    box-sizing: border-box;
    padding:  0px 0px 0px 30px;
    height: 45px;
    color: rgb(0, 0, 0);
    font-size: 30px;
    font-weight: 10;
    background: rgb(228, 19, 22);
    /*border-radius: 0px 0px 15px 15px;*/
    display: flex;
    flex-direction: row;
    z-index: 1;
    top: 0px;
    width: 100%;
    min-width: 885px;
    margin: 0 auto;
    box-shadow: -4px 8px 16px -8px rgb(125, 125, 125)
   
    

}

#sign-in-div{
    display: none; /* Hidden by default */
    position: absolute; /* Stay in place */
    z-index: 3; /* Sit on top */
    background-color: white; /* Black w/ opacity */
    border: 3px solid rgb(228, 19, 22);
    border-radius: 8px;
    color: rgb(228, 19, 22);
    width: 210px;
    left: 300px; 
    top: 90px; 
    padding: 30px 40px;
}


#sign-in-div input {
    background-color: white ;

}
#login-div input {
    background-color: white ;

}

#login-div{
    display: none; /* Hidden by default */
    position: absolute; /* Stay in place */
    z-index: 3; /* Sit on top */
    background-color: white; /* Black w/ opacity */
    border: 3px solid rgb(228, 19, 22);
    border-radius: 8px;
    color: rgb(228, 19, 22);
    width: 210px;
    left: 300px; 
    top: 90px; 
    padding: 30px 40px;

}

input {
    padding: 4px 12px;
    font-size: 14px;
    line-height: 24px;
    border: 1px solid #ABC6D1;
    border-radius: 4px;
    margin: 10px 10px 10px 10px;
    

}

input[name= "nbMidImp"]{
    width: 90px;

}

input:hover {
    border: 1px solid #24221F;
    box-shadow: -2px 4px 8px rgba(36, 34, 31, 0.08);
}



.exm-class span {
    width: 32px;
    text-align: center;
    padding: 4px 8px;
    background: #fff;
    border: 1px solid #5E7C88;
    border-radius: 4px;
    font-size: 14px;
    line-height: 24px;
}

h4 {
    font-size: 15px;
    line-height: 0px;
    margin: 20px 10px; 
    font-weight: 200;
}

h3 {
    line-height: 5px;
    margin: 20px 20px 5px 20px;
    font-weight: 400;
    font-size: 20px;
    text-align: center;
}

h2 {
    font-size: 32px;
    line-height: 40px;
    margin: 16px 0 24px 0;
    font-weight: 700;
    
}

h1 {
    font-size: 20px;
    line-height: 0px;
    margin: 8px;
    font-weight: 500;
    border-radius: 2px;
    height: auto;
    width: auto;
    border: 2px solid rgb(255, 0, 0);
    text-align: center;
    padding: 16px 16px;


}

#middiv-div {
    padding-top: 10px;
    border-top: 1px solid #ABC6D1;
}

input[type="button"] {
    outline: none;
    margin: 0px;
}


#add-file-and-user-div input {
    border: none;
    background-color: rgb(255, 255, 255);
    font-weight: 400;
    margin: 8px 7px;
    padding: 3px 5px;
    
}

#add-file-and-user-div input:hover {
    border: 1px solid rgb(0, 0, 0);
    box-shadow: -2px 4px 8px rgba(36, 34, 31, 0.08);
    background-color: #fff;
    
    
}

iframe {
    background-color:rgba(31, 29, 27, 0.658) ;
}

#add-file-and-user-div span {

    margin: 8px 0px 0px 35px;
    font-size: 25px;
    font-weight: 200;
    color: white
    
}
