*{
    font-family: -apple-system, BlinkMacSystemFont, “Roboto”, “Droid Sans”, “Helvetica Neue”, Helvetica, Arial, sans-serif;
    margin: 0;
    padding: 0;
    color: black;
}

body 
{
    background: #eaeaea;
        
}

#background-div{
    position: relative;
    /*height: auto;*/
    background: #fff;
    padding: 10px;
    width: 866px;
    margin: 0 auto;
    min-height: 100vh;
}
#question-text-div{
    position: relative;
    box-sizing: border-box; 
    padding: 0px 10px;
    height: auto;
    font-size: 40px;
    color: #E41318;
    font-weight: 900; 
    text-align: center;
    background: rgb(114, 34, 218);
}


input[type="button"] {
    outline: none;
    margin: 10px 200px 0px 200px;
    width: 500px;
}
